[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = FieldOfShootingStar
	email = 107800439+FieldOfShootingStar@users.noreply.github.com
